**/__pycache__
**/.classpath
**/.dockerignore
**/.DS_Store
**/.editorconfig
**/.env
**/.git
**/.github
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.venv
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.example
**/*.jfm
**/*.py#
**/*.py~
**/*.pyc
**/azds.yaml
**/bin
**/capture_groups.py
**/charts
**/compose*
**/csv
**/django
**/docker-compose*
**/Dockerfile*
**/heroku.yml
**/htmlcov
**/img
**/jsonwebtoken_test
**/justfile
**/jwt_priv.pem
**/jwt_pub.key
**/kubernetes.yml
**/meetup_queries.gql
**/node_modules
**/npm-debug.log
**/obj
**/pre-commit-config.yaml
**/Procfile
**/README.md
**/redis-data
**/redis-insight
**/redis.conf*
**/runtime.txt
**/scratch.*
**/secrets.dev.yaml
**/terraform
**/Tiltfile
**/values.dev.yaml
