annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.13"
anyio==4.4.0 ; python_version >= "3.11" and python_version < "3.13"
arrow==1.3.0 ; python_version >= "3.11" and python_version < "3.13"
asttokens==2.4.1 ; python_version >= "3.11" and python_version < "3.13"
attrs==24.2.0 ; python_version >= "3.11" and python_version < "3.13"
bcrypt==4.2.0 ; python_version >= "3.11" and python_version < "3.13"
cattrs==23.2.3 ; python_version >= "3.11" and python_version < "3.13"
certifi==2024.7.4 ; python_version >= "3.11" and python_version < "3.13"
cffi==1.17.0 ; python_version >= "3.11" and python_version < "3.13" and platform_python_implementation != "PyPy"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13"
cryptography==43.0.0 ; python_version >= "3.11" and python_version < "3.13"
ecdsa==0.19.0 ; python_version >= "3.11" and python_version < "3.13"
exceptiongroup==1.2.2 ; python_version >= "3.11" and python_version < "3.13"
executing==2.0.1 ; python_version >= "3.11" and python_version < "3.13"
fastapi==0.112.1 ; python_version >= "3.11" and python_version < "3.13"
gunicorn==20.1.0 ; python_version >= "3.11" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.11" and python_version < "3.13"
icecream==2.1.3 ; python_version >= "3.11" and python_version < "3.13"
idna==3.7 ; python_version >= "3.11" and python_version < "3.13"
jinja2==3.1.4 ; python_version >= "3.11" and python_version < "3.13"
jose==1.0.0 ; python_version >= "3.11" and python_version < "3.13"
markupsafe==2.1.5 ; python_version >= "3.11" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.13"
pandas==1.5.3 ; python_version >= "3.11" and python_version < "3.13"
passlib[bcrypt]==1.7.4 ; python_version >= "3.11" and python_version < "3.13"
platformdirs==4.2.2 ; python_version >= "3.11" and python_version < "3.13"
pony==0.7.17 ; python_version >= "3.11" and python_version < "3.13"
psycopg2-binary==2.9.9 ; python_version >= "3.11" and python_version < "3.13"
pyasn1==0.6.0 ; python_version >= "3.11" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.13" and platform_python_implementation != "PyPy"
pycrypto==2.6.1 ; python_version >= "3.11" and python_version < "3.13"
pydantic==2.8.2 ; python_version >= "3.11" and python_version < "3.13"
pydantic-core==2.20.1 ; python_version >= "3.11" and python_version < "3.13"
pygments==2.18.0 ; python_version >= "3.11" and python_version < "3.13"
pyjwt[crypto]==2.9.0 ; python_version >= "3.11" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.13"
python-decouple==3.8 ; python_version >= "3.11" and python_version < "3.13"
python-jose[cryptography]==3.3.0 ; python_version >= "3.11" and python_version < "3.13"
python-multipart==0.0.9 ; python_version >= "3.11" and python_version < "3.13"
pytz==2024.1 ; python_version >= "3.11" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.13"
requests-cache==1.2.1 ; python_version >= "3.11" and python_version < "3.13"
rsa==4.9 ; python_version >= "3.11" and python_version < "3.13"
setuptools==72.2.0 ; python_version >= "3.11" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.13"
slack-sdk==3.31.0 ; python_version >= "3.11" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "3.13"
starlette==0.38.2 ; python_version >= "3.11" and python_version < "3.13"
types-python-dateutil==2.9.0.20240316 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.13"
url-normalize==1.4.3 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.2.2 ; python_version >= "3.11" and python_version < "3.13"
uvicorn==0.29.0 ; python_version >= "3.11" and python_version < "3.13"
wheel==0.43.0 ; python_version >= "3.11" and python_version < "3.13"
